<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bias Catcher</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> Enter some text to detect common biases </h1>
    <p> So much of what we write contains unconscious gender and other biases. This tool will help you to detect them. Please enter some text below to see an assessment. </p>
	<form method="POST">
    <input name="text">
    <input type="submit">
</form>    
    {% endblock %}
  </body>
</html>
