body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}

.tooltip-wrap {
  position: relative;
}
.tooltip-wrap .tooltip-content {
  display: none;
  position: absolute;
  bottom: 25%;
  left: 5%;
  right: 75%;
  background-color: #d55;
  padding: .5em;
}
.tooltip-wrap:hover .tooltip-content {
  display: block;
}
