body {
  font-family: 'Montserrat', sans-serif;
}

.logo {
  background-color: #0D122B;
  padding: 10px;
  color: white;
}

.textarea {
  width: auto;
  min-width: 480px;
  height: auto;
  min-height: 100px;
}

.tooltip-wrap {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}
.tooltip-wrap .tooltip-content {
    visibility: hidden;
  width: 120px;
  background-color: lightseagreen;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}
.tooltip-wrap:hover .tooltip-content {
  visibility: visible;
}



.tooltipSUGG-wrap {
  position: relative;
}
.tooltipSUGG-wrap .tooltipSUGG-content {
  display: none;
  position: absolute;
  bottom: 25%;
  left: 5%;
  right: 75%;
  background-color: #5aa;
  padding: .5em;
}
.tooltiSUGGp-wrap:hover .tooltipSUGG-content {
  display: block;
}
